@import "../breakpoints.scss";

.footerContainer {
  position: absolute;
  top: 195vh;
  width: 100%;
  height: fit-content;
}
.footer {
  margin: 0 auto;
  color: rgba(56, 56, 58, 1);
  text-shadow: 3px 3px 0px rgba(234, 118, 118, 0.5);
  height: fit-content;
  width: fit-content;
}
// MOBILE
@include media("<=600px") {
  .footer {
    font-size: 0.8em;
  }
}
// DESKTOP
@include media(">600px") {
  .footer {
    font-size: 1.5em;
  }
}
