@import "../styles/breakpoints.scss";

.flagAdamContainer {
  height: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: end;
  align-items: center;
}

.flagAdam {
  color: rgba(56, 56, 58, 1);
  text-shadow: 4px 4px 0px rgba(234, 118, 118, 0.5);
  height: fit-content;
  width: fit-content;
  margin-top: 60vh;
  margin-right: 10vh;
}

.subtextAdamContainer {
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.subtextAdam {
  width: fit-content;
  height: fit-content;
  color: rgba(56, 56, 58, 1);
  text-shadow: 4px 4px 0px rgba(234, 118, 118, 0.5);
}

#subtextAdamSecond {
  margin-left: 5vh;
}

// MOBILE
@include media("<=600px") {
  .flagAdam {
    font-size: 3em;
    margin-top: 0;
    margin-right: 0;
  }
  .flagAdamContainer {
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 3em;
  }

  .subtextAdamContainer {
    padding-top: 3em;
    gap: 5vh;
  }
  .subtextAdam {
    font-size: 1.2em;
    margin-left: 5.5em;
  }
  #subtextAdamSecond {
    margin-left: 7em;
  }
}

// DESKTOP
@include media(">600px") {
  .flagAdam {
    font-size: 7em;
  }
  .subtextAdam {
    font-size: 3em;
  }
}
